/* style.css */
/* 20/Feb/2019 */

body {
    background: blue;
    margin: 0;
}

a {
    padding:        0px 15px 0px 15px;
}

h1 {
    padding:        10px;
}

/* - - - -  id  - - - - - */
#navegacion {
    background:     black;
    color:          white;
    /*padding-top:  20px;
    padding-bottom: 20px;*/
    height:         60px;
    width:          100%;
    margin:         0 0 20px 0;
    
}

#nombre {   
    background:     #4aaaa5;
    color:          white;
    height:         20px;
    width:          120px;
    float:          left;
    padding:        20px;
    font-family:    'Georgia', Times, Times New Roman, serif;
}

#ligas {
    background:     yellow;
    color:          red;
    height:         20px;
    width:          350px;
    float:          right;
    padding:        20px;
}

#parrafo1 {

}

#rollo1 {
    float: right;
}
/* - - - -  class  - - - - - */
.ContenidoCentral {
    background:     white;
    width:          960px;
    margin:         0 auto;
    /*margin:         30px 100px 0px 100px;*/
}

.pie {
    background:     #666666;
    background:     black;
    color:          white;
    height:         30px;
    text-align:     center;
}